:root {
  /* --main-bg-color: #222222; */
  --secondary-color: #ebebeb;
  --header-brand-color: #ff385c;
  --theme-product-color: #e00b41;
  --subtitle-color: #6a6a6a;
  --font-color: #222222;
  --border-line-color: #dddddd;
  --background-hover: #ebebeb;
  --border-radius-main: 3rem;
  --font-size-default: 0.9rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Airbnb Cereal VF, Circular, -apple-system, BlinkMacSystemFont,
    Roboto, Helvetica Neue, sans-serif;
  font-size: var(--font-size-default);
  color: var(--font-color);
}
input {
  font-family: Airbnb Cereal VF;
  border: none;
  background-color: transparent;
}
input:focus-visible {
  outline: none;
}
/*
--------------------------------
Fonts
--------------------------------
*/
@font-face {
  font-family: Airbnb Cereal VF;
  src: url(../public/fonts/AirbnbCerealVF_W_Wght.woff2);
}
@font-face {
  font-family: Airbnb Cereal VF Cyril;
  src: url(../public/fonts/AirbnbCerealVF_Cyril_W_Wght.woff2);
}
/*navbar part style*/

.navpart {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
}

/* logo style */

.logo img {
  width: 100%;
  height: 100%;
}
.staysExperience {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}
.staysExperience button {
  font-size: 1rem;
  color: #0b0707;
  background-color: transparent;
  border: none;
  font-weight: 500;
}
.staysExperience button.Active {
  color: #0b0707;
  font-weight: 500;
}

.staysExperience button.inactive {
  color: #c5c2c2;
  padding: 1rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

.staysExperience button.inactive:hover {
  background-color: #efefef;
  cursor: pointer;
  color: #030202;
  font-weight: lighter;
}

/*humberger menu and profile menu*/
.hamburg-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}
.home a {
  padding: 1rem;
  text-decoration: none;
  font-size: 14px;
  color: #030202;
  border-radius: 2rem;
}

.home a:hover {
  background-color: #efefef;
  cursor: pointer;
}

.global {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 1rem;
}

.global img {
  width: 16px;
  height: 16px;
}
.global:hover {
  background-color: #efefef;
  cursor: pointer;
}

.menu{
  border: 1px solid #c1c0c0 ;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 8px 8px 8px 14px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}
.menu:hover{ 
box-shadow: 1px 2px 2px 1px  #efefef;
cursor: pointer;
}
.img-menu{
width: 16px;
height: 16px;
}

.img-profile{
width: 30px;
height: 30px;
}
.drop-dowoncontent{
position: absolute;
display: none;
background-color: #fff;
z-index: 1;
}
/*
-------------------------------
Modal container
-------------------------------
*/
.box-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
}

.box-modal .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  transition: opacity 1.3s;
}

.box-modal .body-modal {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}
.box-modal .body-modal .inner-body-modal {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0.6rem;
  position: relative;
  z-index: 1;
}

.inner-body-modal .tabs {
  position: relative;
  display: flex;
  gap: 1rem;
}
.underline_bottom {
  height: 1px;
  background-color: var(--border-line-color);
  margin-top: 0.8rem;
}

.tab_one,
.tab_two {
  cursor: pointer;
}

.box-modal.modal-show {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  transition: all 0.8s;
}
.box-modal.modal-show .overlay {
  opacity: 0.5;
  transition: opacity 1.2s;
}
.box-modal.modal-show .body-modal {
  position: relative;
  max-height: 100vh;
  opacity: 1;
  transition: 0.1s max-height 0.2s, 0.1s opacity 0.2s;
}
.body-modal .cancel_icon {
  position: absolute;
  z-index: 9;
}
.cancel_icon img {
  width: 1.4rem;
  height: 1.4rem;
}
.translation {
  display: flex;
}
/* 
-----------------------------------------
The switch - the box around the slider
-----------------------------------------
 */
.switch {
  position: relative;
  display: inline-block;
  width: 3.2rem;
  height: 2.1rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.8rem;
  width: 1.8rem;
  left: 2px;
  bottom: 3px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--font-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--font-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.8rem);
  -ms-transform: translateX(1.8rem);
  transform: translateX(1.8rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 2rem;
}

.slider.round:before {
  border-radius: 50%;
}

/*
-----------------------------------
Search-box
-----------------------------------
*/
.search_box_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner_search_box {
  border: 1px solid var(--border-line-color);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-main);
  font-size: 0.75rem;
  font-weight: 500;
}
/* 
-----------------------------
hover searchbox
-----------------------------
*/
.where_section {
  padding: 1rem 7rem 1rem 2rem;
  position: relative;
}

.active_section {
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
  border-radius: var(--border-radius-main);
}
.bg-active .active_box:hover {
  background-color: var(--border-line-color);
}
.bg-active .active_section:hover {
  background-color: #fff;
}
.active_box:hover {
  border-radius: var(--border-radius-main);
  background-color: var(--background-hover);
}
.active_box:hover::after {
  opacity: 0;
}
.bg-active {
  background-color: var(--background-hover);
}
.bg-active .search_btn button {
  width: 7rem;
  /* border-radius: 500px; */
}
.bg-active .search_content {
  display: inline-block;
  padding-left: 0.2rem;
  font-size: 1rem;
  font-weight: bold;
}

/*
 ---------------------------------------
 */

.header_divider {
  align-self: stretch;
  background-color: var(--border-line-color);
  width: 1px;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.header_divider:has(+ .active_box:hover),
.header_divider:has(+ .active_section) {
  opacity: 0;
}
.active_box:hover + .header_divider,
.active_section + .header_divider {
  opacity: 0;
}

.checkout_section,
.checkin_section {
  padding: 1rem 3rem 1rem 1.5rem;
  position: relative;
}
.date_section {
  padding: 1rem 9rem 1rem 1.5rem;
}
.who_section {
  padding: 1rem 0.5rem 1rem 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
}
.who_content {
  padding-right: 9rem;
}
.subtitle_color {
  color: var(--subtitle-color);
  font-size: var(--font-size-default);
  font-weight: normal;
}
.search_btn {
  position: absolute;
  right: 0.5rem;
}
.search_btn button {
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  background-color: var(--header-brand-color, var(--theme-product-color));
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.2s ease;
}

.search_content {
  display: none;
}

/*
-------------------------------
Search-box Dropdown
-------------------------------
*/
.hide {
  display: none;
}
.region_wrapper {
  position: absolute;
  margin-top: 2rem;
  left: 0;
  border-radius: 2rem;
  box-shadow: 0 3px 12px 0 rgb(0 0 0/0.15);
  padding: 2rem 1.5rem 1.5rem;
}
.region_selection {
  width: 24rem;
}
.region_selection .region_title {
  margin-bottom: 1rem;
  margin-left: 0.7rem;
}
.region_title h4 {
  font-size: var(--font-size-default);
}
.region_items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.region_items .item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.region_items .item:hover {
  background-color: var(--background-hover);
  border-radius: 1rem;
}
.region_items figure img {
  width: 100%;
  height: auto;
  border: 1px solid var(--border-line-color);
  border-radius: 1rem;
  margin-bottom: 0.4rem;
}
.item {
  flex: 1 1 calc(33.333% - 20px);

  box-sizing: border-box;
}
